.product-container{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.product-details{
    margin-left: 10px;
}
.product-name{
    color: blue;
    font-size: 18px;
}
.product-seller{
    font-weight: 400;
}
.product-icon{
    color: #f0c14b;
    
}
.product-button{
    background-color: #f0c14b;
    border: 1px solid rgba(17, 29, 34, 0.598);
    text-align: center;
    padding: 5px 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    transition: all .3s;
    width: 216px;

}
.product-button:hover{
    transform: translateY(-4px);
}
.product-seller,.product-stock{
    font-size: 14px;
}
.product-price{
    font-size: 20px;
    line-height: 10px;
}


